.Blog{
    height: 700px;
    width: 100%;
}
.blog-cards{
    display: flex;
    justify-content: space-evenly;
    height: 450px;
    width: 88%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(250, 235, 215, 0.459);

}
.b-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
    height: 420px;
    background-color: white;
    text-align: left;
    border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}
.blog-img{
    width: 380px;
}
.blog-p{
    color: rgb(230, 90, 48) ;
    text-decoration: underline;
}
.b-padding{
    padding-left: 10px;
}