.Reviews2{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)),url("../../assets/computer.jpg");
    background-position: center;
    background-size: cover;
}
.Reviews2-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.Reviews2-text{
display: flex;
flex-direction: column;
align-items: center;
color: white;
padding-top: 80px;
text-align: center;
}
.Reviews2-pra{
    width: 40%;
    padding-top: 20px;
    line-height: 25px;
    
}
.reviews2-p{
    color: rgb(230, 90, 48);
    padding-top: 5px;
}
.reviews2-h{
    padding-top: 10px;
}
.Reviews2-pra span{
    color:rgb(230, 90, 48); ;
}