.Team{
 background-color: white;
 height: 650px;
}
.Project-image2{
    display: flex;
    justify-content: center;
    gap: 30px;

}

.co-img{
    display: flex;
    height: 300px;
    width: 300px;
    
    
}
.team-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 5px;

}
