.About{
    display: flex;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.About-image{
height: 300px;
width: 300px;
border: 1px solid;
background-color: antiquewhite;
border-radius:  60% 50% 50% 60%/50% ;
background-image: url('../../assets/saad.png');
background-size: cover;
background-repeat: no-repeat;
border-style: none;
box-shadow: -13px 17px 0px 0px rgb(230, 90, 48);
}
.abot-content{
    display: flex;
    gap: 10px;
align-items: center;
margin-left: 30px;
}
.content-text{
    margin-bottom: 15px;
    margin-top: 20px;

}
.w{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius:50% 40% 50% 40% ;
    background-color: rgb(230, 90, 48);
    font-size: 40px;
    color: white;
    
}

