.reviews{
    display: flex;
    position: relative;
    height: 200px;
    width: 100%;
    background-image: url("../../assets/computer.jpg");
    background-size: cover;
    background-position: center;
   
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 90, 48);
    opacity: 0.90;
}
.rev-text{
    display: flex;
    flex-direction: row;
    gap: 40px;
   
    color: white;
}
.head-text h1{
    
    font-size: 60px;
    

}