.Services {
    min-width:  1000px;
    width: 100%;
    background-color: white;
}

.Services-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 60px;
    
}
.p1-text{
    color: rgb(230, 90, 49);
    margin-bottom: 10px;
    font-weight: 600;
}
.p2-text{
    margin-top: 10px;
    width: 400px;
    text-align: center;
    color: darkslategrey;
}
.cards{
    display: flex;
    flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
    min-height:730px;
    width:90%;
    margin: 0 auto;
    background-color: whitesmoke 0.5;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    background-color:white;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}
.card-content i{
    width: 100px;
    height: 100px;
}
