.Header{
    display: flex;
    position: relative;
    background-image: url("../../assets/computer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
}
.overley{
position:absolute;
inset: 0;
background-color: black;
opacity: 0.5;
}
.content{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 100px;
    

}
.head-Design{
    font-size: 60px; 
    margin-top: 10px; 
}
.header-button{
    position: relative;
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
    font-size: 18px;
}
.b-one{
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;

}
#b-two{
    background-color: transparent;
    border: 2px solid white;
    width: 120px;
    height: 40px;
}
#b-1{
    background-color: rgb(230, 90, 48);
    height: 42px;
    width: 140px;
    border: none;
}
@media (max-width: 768px) {

  .Header {
    height: auto;
    min-height: 400px;
    padding: 20px 0;
  }

  .content {
    padding-right: 0;
    padding: 0 15px;
    text-align: center;
    flex-direction: column;
  }

  .head-Design {
    font-size: 32px;
  }

  .header-button {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  #b-1,
  #b-two {
    width: 140px;
    height: 42px;
    font-size: 16px;
  }
}
