
.navbar{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(230, 90, 48);
    align-items: center;
    padding: 0 30px; 
     box-sizing: border-box;

}
.nav-icon{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
li{
    display: flex;
    gap: 3px;
    align-items: center;
    list-style-type: none;
}
.fa-solid{
    color: white;
}
.phone-icon{
    height: 20px;
    width: 20px;
    filter: invert(1);
    
}
span{
    color: white;
}
.social-icon {
    display: flex;
    gap: 4px;
    flex-shrink: 0; 
    margin-right: 30px;
}

.social-icon span {
    display: flex;
    gap: 5px;
      justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: white;

}
@media (max-width: 768px) {

  .navbar {
    padding: 0 10px;
    height: auto;
    flex-wrap: wrap;
  }

  .nav-icon {
    gap: 10px;
    font-size: 12px;
  }

  .nav-icon span {
    display: none;   /* email / number hide */
  }

  .social-icon {
    margin-right: 0;
    gap: 8px;
  }

  .social-icon span {
    width: 26px;
    height: 26px;
    font-size: 12px;
  }
}
