.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)),url("../../assets/computer.jpg");
    background-position: center;
    background-size: cover;

}
.Footer-text{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.footer-link{
    display: flex;
    gap: 20px;
    
}
.Footer-p1{
    color: darkgray;
}
.f-icon{
    color: white;
}